@font-face {
  font-family: light;
  src: url(fonts/AirbnbCerealVF_W_Wght.2d9d32865ef1262644c455b3ead871e9.woff2);
}

* {
  margin: 0;
  padding: 0;
}

.header {
  margin: 12px 24px 24px 24px;
}

.header button {
  padding: 10px 19px;
  border: 1px solid #dddd;
  background-color: rgb(255, 255, 255);
  border-radius: 40px;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 56px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 6px 20px 0px;
  /* box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.08); */
}

.header a {
  display: flex;
  align-items: center;
  column-gap: 8px;
  color: rgb(34, 34, 34);
  font-weight: 500;
  font-family: light;
}

.top-line {
  display: none;
}

.header p {
  font-weight: 500;
  font-family: light;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: normal;
}

.header-image {
  margin-top: 26px;
  justify-content: space-between;
  display: flex;
  padding: 0px 56px 0px 56px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.08);
}

.header-image a {
  align-items: center;
  min-width: 68px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 8px;
}

.header-image div {
  margin-bottom: 18px;
  display: flex;
  flex-direction: column;
}

.header-image span {
  font-weight: 600;
  font-size: 12px;
  font-family: light;
  color: rgb(106, 106, 106);
  margin-top: -10px;
  line-height: 0.625rem;
  letter-spacing: -0.12px;
}

.header-image video {
  object-fit: cover;
  transform: scale(2);
  width: 36px;
}

.header-top-icon {
  display: none;
}

.header-first-icon {
  display: none;
}

.button-container {
  display: none;
}

.experience-text {
  font-weight: 400;
  font-size: 12px;
  font-family: light;
  color: rgb(106, 106, 106);
  line-height: 0.625rem;
  letter-spacing: -0.12px;
  margin-top: -28px;
}

.new-button span {
  color: #ffff;
  left: 52px;
  padding: 4px 7px;
  padding-right: 9px;
  position: absolute;
  top: 3px;
  font-size: 8px;
  font-weight: 700;
  font-family: light;
  border-radius: 10px 10px 10px 2px;
  background-image: linear-gradient(357.5deg,
      rgb(62, 86, 124) 1.59%,
      rgb(58, 84, 117) 21.23%,
      rgb(45, 60, 91) 58.6%,
      rgb(128, 157, 192) 97.4%);
  box-shadow: 0 0.953955px 1.90791px rgba(60, 77, 107, 0.25), 0 3.81582px 5.72373px rgba(60, 77, 107, 0.25), inset 0 0 2px 0.5px #001c40, inset 0 -1px 3px #d7ebff;
}

.all-container {
  padding-top: 8px;
  letter-spacing: -0.18px;
}

.popular-margin {
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 4px;
  width: 80%;
  line-height: 24px;
}

.popular-text {
  margin-top: 24px;
}

.popular-text-content {
  font-size: 18px;
  font-weight: 600;
  font-family: light;
  line-height: 24px;
}

.popular-margin img {
  margin-left: -2px;
}

.first-content {
  margin-top: 9px;
  margin-bottom: -8px;
  height: 100%;
  overflow: scroll;
}

.first-margin {
  padding: 5px 24px 12px 24px;
  display: grid;
  grid-auto-columns: calc((100% - 11px) / 2);
  grid-auto-flow: column;
  gap: 11px;
  overflow: scroll;
  scrollbar-width: none;
}

.image-box {
  position: relative;
}

.image-container {
  display: flex;
  flex-direction: column;
}

.full-image {
  border-radius: 20px;
  width: 100%;
  aspect-ratio: 20/19;
  object-fit: cover;
}

.apartment-text-container {
  margin-left: 4px;
  display: flex;
  flex-direction: column;
  line-height: 22px;
  margin-top: 3px;
  letter-spacing: 0.01px;
}

.apartment-text-container span {
  font-size: 13px;
  font-weight: 500;
  font-family: light;
  line-height: 16px;
}

.apartment-text-container a {
  font-size: 12px;
  font-weight: 400;
  color: rgb(106, 106, 106);
  font-family: light;
  letter-spacing: 0px;
}

.full-image {
  width: 100%;
  aspect-ratio: 20/19;
  object-fit: cover;
  border-radius: 20px;
}

.favourite-img-a {
  width: 24px;
  height: 24px;
}

.favourite-box {
  position: absolute;
  top: 0;
  padding: 12px 12px 0px 12px;
  display: grid;
  grid-template-rows: repeat(3, minmax(0, 1fr));
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-areas:
    "top-row top-row top-row"
    "middle-row middle-row middle-row"
    "bottom-row bottom-row bottom-row";
}

.favourite-margin {
  grid-template-columns: repeat(2, minmax(min-content, auto));
  grid-column-gap: 12px;
  grid-area: top-row;
  display: grid;
  justify-content: space-between;
}

.favourite-box-margin {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 14px;
  font-feature-settings: "salt";
  height: fit-content !important;
  backdrop-filter: blur(32px);
  font-family: light;
  font-size: 11px;
  font-weight: 600;
  color: rgb(34, 34, 34);
  padding: 6.5px 10.5px 5.500px 10.5px;
  line-height: 13.5px;
  letter-spacing: 0px;
}

.favourite-box-magin a {
  justify-self: flex-start;
}

.favourite-a {
  margin-top: -2px;
  padding-top: 2px;
}

.inspiration-container {
  background-color: rgb(247, 247, 247);
}

.inspiration-content {
  padding: 48px 24px 48px 24px;
}

.inspiration-content h2 {
  margin-bottom: 8px;
  font-size: 22px;
  font-weight: 500;
  font-family: light;
}

.footer {
  padding-bottom: 35px;
  background-color: rgb(247, 247, 247);
}

.arrows {
  display: flex;
  justify-content: space-between;
  margin-top: 18px;
}

.last-section {
  padding-left: 24px;
  padding-right: 24px;
  background-color: rgb(247, 247, 247);
}

.last-section-margin {
  padding-top: 24px;
  padding-bottom: 24px;
}

.last-section h3 {
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: 500;
  font-family: light;
  color: black;
}

.last-section ul {
  display: grid;
  gap: 16px;
  line-height: 20.02px;
  color: rgb(34, 34, 34);
}

.last-section li {
  font-size: 14px;
  font-weight: 400;
  font-family: light;
  list-style: none;
}

.english-container {
  border-top: 1px solid #ebebeb;
}

.english-line {
  margin-bottom: 8px;
  margin-top: 22px;
}

.english-line a {
  display: flex;
}

.english-line span {
  padding: 6px 14px 6px 0px;
  font-size: 14px;
  font-weight: 500;
  font-family: light;
  margin-right: 6px;
  display: flex;
  flex-direction: row;
  gap: 8.5px;
}

/* .english-container section {
  padding: 24px 0px 104px 0px;
} */

.icon-container {
  padding: 8px 0px 8px 0px;
  margin-bottom: 8px;
}

.icon-container ul {
  column-gap: 19.5px;
  display: flex;
}

.icon-container li {
  margin-right: 4px;
  width: 5%;
}

.icon-container img {
  width: 100%;
}

.airbnb-content span {
  display: inline-block;
  margin-bottom: 4px;
  font-size: 14px;
  font-family: light;
}

.airbnb-content-a ul {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
}

.airbnb-content-a span {
  font-size: 14px;
  font-family: light;
  font-size: 14px;
  font-family: light;
  margin-left: 5px;
}

.ending-section {
  padding: 0px 4px 10px 4px;
  border: 1px solid #EBEBEB !important;
  display: flex !important;
  align-items: center !important;
  border-top: 1px solid #EBEBEB !important;
  left: 0px;
  right: 0px;
}

.ending-section-margin {
  align-items: center;
  gap: 38px;
  margin-left: 87px;
  display: flex !important;
}

.ending-section-margin a {
  padding: 0px 2px 0px 2px;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  position: relative;
  top: 7px;
}

.ending-section-margin span {
  padding: 0px 2px 0px 2px;
  display: flex !important;
  flex: 1 1 0 !important;
  flex-direction: column !important;
  align-items: center !important;
  margin-top: 10px;
  position: relative;
  top: 3px;
  left: -5px;
}

.ending-section-margin p {
  font-size: 10px;
  color: rgb(218, 18, 73);
  font-family: light;
  margin-top: 4px;
  font-weight: 500;
  position: relative;
  left: 0px;
}

.ending-section-margin h1 {
  font-size: 10px;
  color: rgb(106, 106, 106);
  font-family: light;
  margin-top: 6px;
  font-weight: 400;
  position: relative;
  position: relative;
  top: -2px;
  left: 0px;
}

.last-section-columns hr {
  display: block;
}

/* 
.ending-section {
  bottom: 0px;
  background-color: #ffff;
  position: fixed;
} */




@media screen and (min-width: 744px) {
  .header {
    display: none;
  }

  .header-image {
    display: none;
    padding-top: 2px;
  }

  .first-margin {
    grid-auto-columns: calc((100% - 11px) / 4);
    padding-top: 7px;
  }

  .first-content {
    scrollbar-width: none;
    padding-right: 24px;
  }

  .header-first-icon {
    padding-left: 24px;
    padding-right: 24px;
    align-items: center;
    height: 80px;
    display: flex;
  }

  .airbnb-top-image {
    margin-top: 4px;
    display: block;
  }

  .header-first-icon form {
    padding-left: 24px;
    padding-right: 24px;
    position: absolute;
    left: 0;
    width: 100%;
  }

  .header-box {
    flex-direction: row;
    align-items: center;
    display: flex;
  }

  .header-box-margin {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .airbnb-image img {
    display: none;
  }

  .all-container {
    box-shadow: rgba(0, 0, 0, 0.1) 0 8px 24px 0, rgba(0, 0, 0, 0.02) 0 0 0 1px;
  }

  .image-box-container {
    display: flex;
    column-gap: 30px;
    padding: 0px 80px 0px 70px;
    transform: translateX(-37px);
    position: relative;
    left: 55px;
    top: 2px;
  }

  .home-content {
    justify-content: center;
    display: flex;
    align-items: center;
    position: relative;
    left: 8px;
  }

  .home-content div {
    position: relative;
    left: -7;
  }

  .home-content video {
    transform: scale(1.4);
    width: 52px;
    position: relative;
    left: -8px;
  }


  .home-text {
    font-family: light;
    font-size: 14px;
    font-weight: 600;
    margin-left: 17px;
    top: -2px;
    left: -7px;
  }

  .home-content a {
    position: relative;
    left: 10px;
  }

  .experience-text {
    font-family: light;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0px;
    position: relative;
    left: 2px;
    top: 12px;
  }

  .service-text {
    font-family: light;
    font-size: 14px;
    font-weight: 400;
    margin-top: -4px;
    letter-spacing: 0px;
    position: relative;
    left: -1px;
    top: 1px;
  }

  .home-content span {
    position: absolute;
  }

  .experience-content {
    top: 5px;
    position: relative;
    left: 5px;
    column-gap: 8px;
    display: flex;
    align-items: center;
  }

  .experience-content div {
    margin-left: -8px;
    margin-bottom: 10px;
    align-items: center;
    position: relative;
  }

  .experience-content video {
    transform: scale(1.4);
    width: 51.5px;
    top: 1px;
    position: relative;
    left: 1px;
  }

  .experience-content span {
    position: absolute;
  }

  .service-content {
    margin-top: 10px;
    justify-content: center;
    column-gap: 8px;
    display: flex;
    align-items: center;
    position: relative;
    left: -1px;
  }

  .service-content div {
    margin-left: -5px;
    margin-bottom: 12px;
    align-items: center;
    position: relative;
    color: #6A6A6A;
    top: 1px;
  }

  .service-content video {
    transform: scale(1.4);
    width: 51px;
    margin-left: 12px;
  }

  .service-content span {
    position: absolute;
  }

  .new-text span {
    color: #ffff;
    padding: 3px 6px;
    top: -30px;
    left: -6px;
    font-size: 8px;
    font-weight: 700;
    font-family: light;
    border-radius: 10px 10px 10px 2px;
    background-image: linear-gradient(357.5deg,
        rgb(62, 86, 124) 1.59%,
        rgb(58, 84, 117) 21.23%,
        rgb(45, 60, 91) 58.6%,
        rgb(128, 157, 192) 97.4%);
    box-shadow: 0 0.953955px 1.90791px rgba(60, 77, 107, 0.25), 0 3.81582px 5.72373px rgba(60, 77, 107, 0.25), inset 0 0 2px 0.5px #001c40, inset 0 -1px 3px #d7ebff;
  }

  .new-text-button span {
    color: #ffff;
    padding: 4px 6px;
    top: -30px;
    left: -10px;
    font-size: 8px;
    font-weight: 700;
    font-family: light;
    border-radius: 10px 10px 10px 2px;
    background-image: linear-gradient(357.5deg,
        rgb(62, 86, 124) 1.59%,
        rgb(58, 84, 117) 21.23%,
        rgb(45, 60, 91) 58.6%,
        rgb(128, 157, 192) 97.4%);
    box-shadow: 0 0.953955px 1.90791px rgba(60, 77, 107, 0.25), 0 3.81582px 5.72373px rgba(60, 77, 107, 0.25), inset 0 0 2px 0.5px #001c40, inset 0 -1px 3px #d7ebff;
  }

  .icon-container-top {
    left: -5px;
    position: relative;
    display: flex;
    column-gap: 12px;
    top: 16px;
  }

  .icon-container-top p {
    display: none;
  }

  .icon {
    display: flex;
    background-color: #f2f2f2;
    border-radius: 9999px;
    height: 40px;
    padding: 0px 12px;
  }

  .icon span {
    align-items: center;
    display: flex;
  }

  .icon img {
    width: 16px;
    height: 16px;
  }

  .first-margin {
    padding-bottom: 14px;
    margin-top: -2px;
    padding-bottom: 0px;
  }

  .button-container {
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #ffffff;
    margin-bottom: 42px;

  }

  .button-container-margin {
    width: 94%;
    border-radius: 36px;
    margin-top: 12px;
    border: 1px solid #ebebeb;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.08);
  }

  .where-box {
    align-items: center;
    column-gap: 2px;
    display: flex;
    height: 65px;
  }

  .where-box-content {
    padding: 15px 32px 15px 32px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .where-box-content span {
    padding-bottom: 2px;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    font-family: light;
  }

  .where-box-content a {
    font-size: 14px;
    font-weight: 500;
    font-family: light;
    color: #6a6a6a;
  }

  .vertical-line {
    height: 30px;
    width: 4px;
    background-color: #2222;
  }

  .who-box {
    padding: 15px 32px 15px 32px;
    width: 100%;
    display: flex;
    column-gap: 90px;
  }

  .who-box div {
    display: flex;
    flex-direction: column
  }

  .who-box span {
    padding-bottom: 2px;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    font-family: light;
  }

  .who-box a {
    font-size: 14px;
    font-weight: 500;
    font-family: light;
    color: #6a6a6a;
    text-wrap: nowrap;
  }

  .pink-button {
    padding: 10px;
    border-radius: 50px;
    background-color: #ff385c;
    justify-content: center;
    position: relative;
    right: -25px;
    width: 29px;
    height: 29px;
    margin-right: 3px;
  }

  .pink-button div {
    align-items: center;
  }

  .pink-button img {
    width: 16px;
    height: 16px;
  }

  .first-section {
    padding-top: 24px;
  }

  .popular-text-content {
    letter-spacing: -0.18px;
  }

  .popular-text {
    margin-top: 1px;
  }

  .popular-margin img {
    margin-left: -2px;
  }

  .favourite-margin {
    grid-column-gap: 14px;
    margin-top: 0px;
  }

  .image-box {
    margin-top: -2px;
  }

  .last-section-columns {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .apartment-text-container a {
    margin-top: -1px;
  }

  .last-section-columns hr {
    display: none;
  }

  .airbnb-content {
    display: flex;
    flex-direction: row;
    margin-left: 0px;
  }

  .popular-margin {
    margin-top: -2px;
  }

  .airbnb-content {

    justify-content: unset;
    column-gap: 16px;
  }




  .english-line img {
    margin-top: -2px;
    width: 15px;
  }

  .icon-container {
    width: 50%;
  }

  .ending-section {
    visibility: hidden;
  }
}

@media screen and (min-width:768px) {
  .icon-container-top {
    left: 7px;
  }

}

@media screen and (min-width: 950px) {
  .first-margin {
    grid-auto-columns: calc((100% - 11px) / 5);
    display: grid;
  }

  .airbnb-image img {
    display: block;
    width: 75%;
    margin-left: 8px;
  }

  .airbnb-top-image img {
    display: none;
  }

  .icon-container {
    margin-left: 125px;
  }

  .image-box-container {
    transform: translateX(61px);
    margin-top: 32px;
  }

  .last-section {
    margin-top: -16px;
  }

  .button-container {
    width: 90%;
  }

  .english-container section {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    margin-top: 8px;
  }

  .icon-container ul {
    margin-left: 70px;
  }

  .icon-container {
    margin-left: 125px;
  }

}

@media screen and (min-width:1024px) {
  .icon-container-top {
    left: 127px;
    top: 32px;
  }

  .icon-container {
    position: relative;
    left: 132px;
  }

  .image-box-container {
    top: -14px;
    left: -43px;
  }

  .home-content video {
    top: 0px;
  }

  .first-section {
    padding-left: 8px;
  }

  .button-container {
    width: 88%;
    margin-left: 60px;
  }
}

@media screen and (min-width:1128px) {
  .icon-container-top p {
    text-wrap: nowrap;
    font-family: light;
    font-size: 14px;
    font-weight: 500;
    display: block;
    position: relative;
    top: 11px;
    left: -15px;
  }

  .icon span {
    top: 12px;
  }

  .icon {
    position: relative;
    left: -3px;
  }

  .first-content {
    margin-bottom: -14px;
  }

  .first-margin {
    grid-auto-columns: calc((100% - 11px) / 6);
    display: grid;
  }

  .image-box-container {
    position: relative;
    left: 12px;
  }

  .experience-text {
    position: relative;
    left: 1.5px;
  }

  .button-container {
    margin-left: 116px;
    width: 80%;
  }

  .icon-container ul {
    margin-left: 116px;
    width: 80%;
  }

  .english-container section {
    display: flex;
  }

}



@media screen and (min-width:1440px) {
  .first-margin {
    grid-auto-columns: calc((100% - 11px) / 7);
    display: grid;
    padding: 4px 48px 8px 4px;
  }

  .first-content {
    padding-right: 48px;
    padding-left: 35px;
    margin-top: 12px;
  }

  .airbnb-image {
    margin-left: 16px;
    margin-bottom: -16px;
    width: 136px;
  }

  .image-box-container {
    margin-top: 48px;
    position: relative;
    left: 17px;
  }

  .experience-text {
    left: 1.5px;
  }

  .icon-container-top {
    top: 59px;
    position: relative;
    left: 252px;
  }


  .icon-container-top p {
    display: block;
    font-size: 14px;
    font-weight: 500;
    font-family: light;
    position: relative;
    top: -11px;
    padding: 11px 12px 11px 12px;
    line-height: 18px;
    top: -12px;
  }

  .icon {
    position: relative;
    left: -17px;
    top: -11px;
  }

  .icon span {
    padding: 12px 0px;
    top: 0px;
    left: 0px;
  }

  .all-container {
    margin-top: -3px;

  }

  .button-container-margin {
    width: 63%;
    margin-left: 112px;
    margin-top: 22px;
  }

  .last-section {
    padding-right: 48px;
    padding-left: 48px;
  }

  .popular-margin {
    margin-left: 40px;
    margin-top: -1px;
  }

  .button-container {
    margin-bottom: 32px;
  }

  .last-section-columns {
    column-gap: 20px;
  }

}

@media screen and (min-width:1640px) {
  .icon {
    position: relative;
    left: 100px;
  }

  .icon-container-top p {
    position: relative;
    left: 101px;
    top: -11px;
  }

  .first-section {
    margin-left: 98px;
    margin-right: 100px;
    margin-top: 0px;
  }

  .image-box-container {
    left: 22px;
  }

  .button-container {
    padding-bottom: 3px;
  }

  /* .english-container div{
    position: relative;
    left: 374px;
  }
  .icon-container ul{
    width: 50%;
    left: 1079px;
    position: relative;
  } */
  .favourite-margin {
    column-gap: 32px;
  }

  .service-text {
    position: relative;
    left: -2px;
  }

  .popular-margin {
    position: relative;
    top: -1px;
  }
}

@media screen and (min-width:1760px) {
  .icon {
    left: 146px;

  }

  .first-session {
    margin-left: 62px;
    margin-right: 62px;
  }

  .icon-container-top p {
    left: 147px;
  }

  .image-box-container {
    left: 18px;
  }

  .first-section {
    padding-left: 69px;
    padding-right: 70px;

  }

  .button-container-margin {
    width: 60%;
    margin-top: 20px;
  }

  .service-text {
    left: -4px;
  }

  .experience-text {
    left: 0px;
  }

  .service-content video {
    margin-top: 0px;
  }

  .first-margin {
    padding-bottom: 17px;
  }

  .new-button span {
    left: -11px;
  }
}

@media screen and (min-width:1880px) {

  .first-section {
    padding-left: 129px;
    padding-right: 131px;
    margin-top: 1px;
  }

  .icon-cotainer-top p {
    left: 210px;
  }

  .popular-margin {
    margin-left: 39px
  }

  .icon{
    left:208px;
  }
  
  .icon-container-top p{
    left:209px;
  }
  .home-text{
    left: -7px;
  }
  .experience-text{
    left: 1px;
  }
  .serive-text{
    left: -3px;
  }
  
}
  @media screen and (min-width:1920px){
  .icon{
    left: 227px;
  }
  .icon-container-top p{
    left: 228px;
  }
  .experience-text{
    left:0px;
  }
  .experience-content video{
      left: 0px;
  
  }
  .service-content video{
    position: relative;
    left: -1px;
  }
}

@media screen and (min-width:2560px){
  .airbnb-image{
    margin-top: -1px;
    margin-left: 330px;
  }
  .image-box-container{
    left: 5px;
  }
  .home-text{
    left: -9px;
  }
  .experience-content{
    left: 2px;
  }
  .experience-content video{
    top: -1px;
  }
  .service-content{
    left:-5px;
  }
  .icon-container-top p{
    left: 204px;
  }
  .icon{
    left: 202px;
  }
  .first-section{
    margin-right: 231px;
    margin-left: 193px;
  }
}























































































}